<template>
	<div class="home">
		<el-container>
			<el-header>
				<div class="header">
					<img
						class="images"
						@click="goIndex"
						src="../assets/imgs/logo_top@2x.png"
						alt
					/>
					<el-button class="testbtn" v-if="tag" type="text" @click="setTest">{{
						tag
					}}</el-button>
					<el-input
						v-model="metaMaskAddress"
						@change="setinput"
						placeholder="请输入测试地址"
						v-if="isTest"
					></el-input>
					<div style="margin-left: auto;">
						<el-button
							type="primary"
							round
							v-if="MetaMaskAddress !== '' && Pending.length > 0"
						>
							<i class="el-icon-loading"></i>
							{{ Pending.length }} Pending</el-button
						>
						<el-button
							type="primary"
							round
							@click="jump"
							v-if="MetaMaskAddress === ''"
							>{{ $t('home.btn1') }}</el-button
						>
						<el-dropdown
							@command="handleCommand"
							trigger="click"
							placement="bottom-start"
							size="small"
							v-if="MetaMaskAddress !== '' && Pending.length === 0"
						>
							<el-button
								type="primary"
								round
								:style="{ background: '#FFF', color: 'rgba(86, 101, 112, 1)' }"
							>
								{{ ellipsis(MetaMaskAddress) }}
								<i class="el-icon-arrow-down el-icon--right"></i>
							</el-button>
							<el-dropdown-menu slot="dropdown">
								<el-dropdown-item command="copy">{{
									$t('home.btn2')
								}}</el-dropdown-item>
								<el-dropdown-item command="exit">{{
									$t('home.btn3')
								}}</el-dropdown-item>
							</el-dropdown-menu>
						</el-dropdown>
					</div>
					<!-- <div class="en" @click="setLanguage">
            <img src="../assets/imgs/en.png" alt="">
            <span>{{language==='en'?'中文':'EN'}}</span>
          </div> -->
				</div>
			</el-header>
			<el-main>
				<div class="body">
					<router-view @setPendings="setPendings" />
				</div>
			</el-main>

			<el-footer>
				<!-- <div class="git">
          <img src="../assets/imgs/logo_footer@2x.png" alt />
          <p class="right">
            <span class="icon_img" @click="openGit('https://discord.gg/cUBdGs3ehM')"> <img src="../assets/imgs/dis.png"
                alt /> Discord </span>
            <span class="icon_img" @click="openGit('https://gitlab.com/asresearch/cff-contract/')"> <img
                src="../assets/imgs/github@2x.png" alt /> GitLab </span>
            <span> {{$t('home.text1')}}</span>
          </p>
        </div> -->
				<div class="fots">
					<!-- <span>{{$t('index.t13')}}</span> -->
					<span
						@click="
							openGit(
								language === 'zh'
									? 'https://github.com/slowmist/Knowledge-Base/blob/master/open-report/DeFi%E6%99%BA%E8%83%BD%E5%90%88%E7%BA%A6%E5%AE%89%E5%85%A8%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A%20-%20earning.farm.pdf'
									: 'https://github.com/slowmist/Knowledge-Base/blob/master/open-report/Smart%20Contract%20Security%20Audit%20Report%20-%20earning.farm.pdf'
							)
						"
						>{{ $t('index.t14') }}</span
					>
					<span
						@click="
							openGit(
								`https://github.com/peckshield/publications/blob/master/audit_reports/peckshield-audit-report-earning.farm(CFF)-v1.0.pdf`
							)
						"
						>{{ $t('index.t15') }}</span
					>
					<span @click="openGit('https://gitlab.com/asresearch/cff-contract/')">
						<img src="../assets/imgs/github@2x.png" alt />
						{{ $t('index.t16') }}</span
					>
					<span @click="openGit('https://discord.gg/cUBdGs3ehM')">
						<img src="../assets/imgs/dis.png" alt /> Discord</span
					>
				</div>
				<div class="fots">
					<span class="ear">{{ $t('index.t17') }}</span>
				</div>
			</el-footer>
		</el-container>
	</div>
</template>

<script>
import { Tag, Network, PENDINGNUM } from '../config.js'
import { copys } from '@/utils'
import Web3 from 'web3'
import { getPadding } from '@/common/web3'
import { mapMutations, mapState } from 'vuex'
import WalletMixin from '../components/dialog-wallet/WalletMixin'

export default {
	mixins: [WalletMixin],
	data() {
		return {
			list: [],
			timer3: null,
			tag: null,
			isLogin: false,
			pendingList: [1],
			isTest: false,
			language: 'zh',
			metaMaskAddress: ''
		}
	},
	computed: {
		...mapState(['Pending', 'MetaMaskAddress'])
	},
	watch: {
		MetaMaskAddress(val) {
			if (this.MetaMaskAddress === '') {
				this.$router.go(0)
			}
		}
	},
	created() {
		this.onConnect(true)
		const Pending = localStorage.getItem('PendingCff')
			? JSON.parse(localStorage.getItem('PendingCff'))
			: []
		this.setPending(Pending)
	},
	mounted() {
		this.language = this.$i18n.locale
		this.setLan(this.language)
		if (Tag) {
			this.tag = Tag
		}
		this.getPadings()
	},
	methods: {
		...mapMutations(['setPending', 'setLan', 'setMetaMaskAddress']),
		goIndex() {
			this.$router.push({
				path: '/index'
			})
		},
		setinput(val) {
			console.log(val, '====')
			this.setMetaMaskAddress(val)
		},
		setLanguage() {
			this.$i18n.locale = this.$i18n.locale === 'zh' ? 'en' : 'zh'
			localStorage.setItem('cffLocale', this.$i18n.locale)
			this.language = this.$i18n.locale
			this.setLan(this.language)
		},
		openGit(url) {
			let Win = window.open()
			Win.opener = null
			Win.location = url
		},
		setTest() {
			this.isTest = !this.isTest
		},
		setPendings(val) {
			let list = [...this.Pending]
			list.push(val)
			this.setPending(list)
			localStorage.setItem('PendingCff', JSON.stringify(list))
		},
		openHash(id) {
			if (this.tag) {
				window.open(`https://ropsten.etherscan.io/tx/${id}`, '_blank')
			} else {
				window.open(`https://etherscan.io/tx/${id}`, '_blank')
			}
		},

		getPadings() {
			this.timer3 = setInterval(() => {
				if (this.MetaMaskAddress) {
					this.Pending.forEach((item, idx) => {
						if (new Date().getTime() - item.time <= PENDINGNUM) {
							getPadding(item.id).then((res) => {
								if (res) {
									let msg = ''
									let type = ''
									if (res.status) {
										msg = this.$t('home.text2')
										type = 'success'
									} else {
										msg = this.$t('home.text3')
										type = 'error'
									}
									const arr = [...this.Pending]
									arr.splice(idx, 1)
									localStorage.setItem('PendingCff', JSON.stringify(arr))
									this.setPending(arr)
									this.openMessageTips(msg, res.transactionHash, type)
								}
							})
						} else {
							const arr = [...this.Pending]
							arr.splice(idx, 1)
							localStorage.setItem('PendingCff', JSON.stringify(arr))
							this.setPending(arr)
						}
					})
				}
			}, 2000)
		},
		openMessageTips(msg, id, type) {
			const _this = this
			const h = this.$createElement
			let notifications = this.$notify({
				position: 'top-right',
				dangerouslyUseHTMLString: true,
				title: msg,
				type: type,
				offset: 80,
				duration: 0,
				message: h(
					'div',
					{
						class: 'message'
					},
					[
						h(
							'span',
							{
								class: 'later',
								on: {
									click: _this.openHash.bind(_this, id)
								}
							},
							`${_this.$t('home.text4')}`
						)
					]
				)
			})
		},
		handleCommand(command) {
			switch (command) {
				case 'copy':
					copys(this, this.MetaMaskAddress)
					break
				case 'exit':
					this.resetApp()
					break
				default:
					break
			}
		},
		ellipsis(value) {
			if (!value) return ''
			if (value.length > 10) {
				return value.slice(0, 6) + '...' + value.slice(38, 43)
			}
			return value
		},

		jump() {
			this.login()
		}
	},
	destroyed() {
		clearInterval(this.timer3)
		this.timer3 = null
	}
}
</script>
<style lang="scss" scoped>
.home {
	height: 100%;
	width: 100%;
}

.el-header {
	height: 80px !important;
	padding: 0 !important;
	box-sizing: none !important;
	font-size: 28px;
	color: rgba(86, 101, 112, 1);
	background: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: center;

	.images {
		cursor: pointer;
	}

	.header {
		width: 90%;
		display: flex;
		align-items: center;
		max-width: 1200px;

		img {
			height: 50px;
		}

		.el-button {
			width: 150px;
		}

		.pending {
			float: right;
			margin-right: 5px;
			background-color: #409eff;
			border: none;
			color: #fff;
		}

		.el-dropdown {
			margin-left: 10px;

			.el-button {
				width: 150px;
			}
		}
	}
}

.el-main {
	padding: 0 !important;
	box-sizing: none !important;
	background: rgba(245, 245, 245, 1);
	display: flex;
	// align-items: center;
	justify-content: center;
	overflow: initial;

	.body {
		margin: 20px 0;
		width: 90%;
		max-width: 1200px;
	}
}

.el-footer {
	height: 80px !important;
	// padding: 0 !important;
	// box-sizing: none !important;
	// line-height: 80px;
	// color: rgba(255, 255, 255, 1);
	// background: transparent;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	background: rgba(86, 101, 112, 1);

	.git {
		width: 90%;
		display: flex;
		align-items: center;
		max-width: 1200px;

		.right {
			display: block;
			margin-left: auto;

			.icon_img {
				margin: 0 15px 0 10px;
				cursor: pointer;
			}

			span {
				img {
					height: 18px;
					margin-bottom: -3px;
				}
			}
		}

		img {
			height: 40px;
		}
	}
}

.fots {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 10px;

	.ear {
		cursor: initial;
	}

	span {
		font-size: 16px;
		color: #fff;
		margin-right: 36px;
		cursor: pointer;

		img {
			height: 18px;
			margin-bottom: -3px;
		}
	}
}

.el-container {
	height: 100%;
	width: 100%;
}

// .dialog-box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   img {
//     width: 20%;
//     padding: 30px;
//   }
//   li {
//     list-style-type: none;
//     font-size:16px;
//     color: rgba(86, 101, 112, 1);
//   }
// }
// /deep/ .el-dialog {
//   border-radius: 36px !important;
// }
// .submit_button {
//   width: 120px;
//   border-radius: 30px;
// }
/deep/ .el-dropdown-menu {
	border: none;
	color: #666;
	border-radius: 0;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.later {
	color: #409eff;
	cursor: pointer;
}

.el-input {
	width: 260px;
}

.en {
	display: flex;
	align-items: center;
	margin-left: 20px;
	cursor: pointer;
	font-size: 14px;

	img {
		height: 24px !important;
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px) {
	.testbtn {
		display: none;
	}

	.el-header {
		height: 80px !important;

		.header {
			width: 90%;

			img {
				height: 40px;
			}

			.en {
				flex-direction: column;
				font-size: 14px;
				margin-top: 5px;

				img {
					height: 18px !important;
					margin-right: 0;
				}
			}
		}
	}

	.el-footer {
		// height: 130px !important;

		height: auto !important;

		// .git {
		//   width: 90%;
		//   min-width: 0px;
		//   flex-direction: column;
		//   align-items: flex-start;
		//   justify-content: center;

		//   .right {
		//     margin: 0;
		//     margin-top: 20px;
		//     line-height: 20px;

		//     .icon_img {
		//       margin: 0;
		//     }
		//   }
		// }

		.fots {
			text-align: center;
			display: flex;
			flex-direction: column;

			span {
				display: block;
				margin-right: 0px !important;
				margin-bottom: 5px;
			}

			.ear {
				width: 100%;
			}
		}
	}
}
</style>
