<template>
	<div class="home">
		<el-container>
			<el-header>
				<div class="header">
					<img src="../assets/imgs/logo_top@2x.png" alt />
					<div style="margin-left: auto;" class="dappa">
						<el-button type="primary" @click="gohome" round>{{
							$t('index.t5')
						}}</el-button>
					</div>
					<!-- <div class="en" @click="setLanguage">
            <img src="../assets/imgs/en.png" alt="">
            <span>{{language==='en'?'中文':'EN'}}</span>
          </div> -->
				</div>
			</el-header>
			<el-main>
				<div class="body">
					<div class="icons">
						<img src="../assets/imgs/icons.png" alt="" />
					</div>
					<div class="text">
						<h2>{{ $t('index.t4') }}</h2>
						<el-divider></el-divider>
					</div>
					<p class="pp">{{ $t('index.t1') }}</p>
					<p class="pp">{{ $t('index.t2') }}</p>
					<p
						class="ppb"
						v-for="(item, idx) in list"
						:key="idx"
						@click="gocff(item)"
					>
						{{ item.code }} {{ ToFixed(item.sevendayProfit, 1) }}%
					</p>
					<div class="dapps">
						<el-button class="dapp" type="primary" @click="gohome" round>{{
							$t('index.t5')
						}}</el-button>
					</div>
					<div class="text">
						<h2>{{ $t('index.t6') }}</h2>
						<el-divider></el-divider>
					</div>
					<div class="cards">
						<div class="card1">
							<div class="cardsi">
								<img src="../assets/imgs/card1.png" alt="" />
								<p>{{ $t('index.t7') }}</p>
								<span>
									{{ $t('index.t8') }}
								</span>
								<span> {{ $t('index.t18') }}</span>
							</div>
						</div>
						<div class="card2">
							<div class="cardsi">
								<img src="../assets/imgs/card2.png" alt="" />
								<p>{{ $t('index.t9') }}</p>
								<span>{{ $t('index.t10') }}</span>
								<span>{{ $t('index.t19') }}</span>
							</div>
						</div>
						<div class="card3">
							<div class="cardsi">
								<img src="../assets/imgs/card3.png" alt="" />
								<p>{{ $t('index.t11') }}</p>
								<span>
									{{ $t('index.t12') }}
								</span>
							</div>
						</div>
					</div>
					<el-divider></el-divider>
					<div class="fots">
						<!-- <span>{{$t('index.t13')}}</span> -->
						<span
							@click="
								openGit(
									language === 'zh'
										? 'https://github.com/slowmist/Knowledge-Base/blob/master/open-report/DeFi%E6%99%BA%E8%83%BD%E5%90%88%E7%BA%A6%E5%AE%89%E5%85%A8%E5%AE%A1%E8%AE%A1%E6%8A%A5%E5%91%8A%20-%20earning.farm.pdf'
										: 'https://github.com/slowmist/Knowledge-Base/blob/master/open-report/Smart%20Contract%20Security%20Audit%20Report%20-%20earning.farm.pdf'
								)
							"
							>{{ $t('index.t14') }}</span
						>
						<span
							@click="
								openGit(
									`https://github.com/peckshield/publications/blob/master/audit_reports/peckshield-audit-report-earning.farm(CFF)-v1.0.pdf`
								)
							"
							>{{ $t('index.t15') }}</span
						>
						<span
							@click="openGit('https://gitlab.com/asresearch/cff-contract/')"
						>
							<img src="../assets/imgs/github@2x.png" alt />
							{{ $t('index.t16') }}</span
						>
						<span @click="openGit('https://discord.gg/cUBdGs3ehM')">
							<img src="../assets/imgs/discord@2x.png" alt /> Discord</span
						>
					</div>
					<div class="fots">
						<span class="ear">{{ $t('index.t17') }}</span>
					</div>
				</div>
			</el-main>
		</el-container>
	</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import { getAsset } from '@/common/api'
export default {
	data() {
		return {
			list: [
				{
					code: 'USDC',
					sevendayProfit: 0
				},

				{
					code: 'WBTC',
					sevendayProfit: 0
				},

				{
					code: 'ETH',
					sevendayProfit: 0
				}
			],
			timer3: null,
			tag: null,
			language: 'zh'
		}
	},
	computed: {
		...mapState(['IsPhone'])
	},
	mounted() {
		this.getTotal()
		this.language = this.$i18n.locale
		this.setLan(this.language)
	},
	methods: {
		...mapMutations(['setLan']),
		gocff(item) {
			this.$router.push({
				name: 'cff',
				params: {
					code: item.code
				}
			})
		},
		async getTotal() {
			try {
				let res = await getAsset()
				if (res.status === 200) {
					if (res.data.length > 0) {
						this.list = res.data
					}
				}
			} catch (error) {
				console.log(error, '-----')
			}
		},

		ToFixed(val, key = 0) {
			if (key !== 0) {
				return Number(val * 100).toFixed(2)
			} else {
				return Number(val).toFixed(2)
			}
		},
		setLanguage() {
			this.$i18n.locale = this.$i18n.locale === 'zh' ? 'en' : 'zh'
			localStorage.setItem('cffLocale', this.$i18n.locale)
			this.language = this.$i18n.locale
			this.setLan(this.language)
		},
		openGit(url) {
			let Win = window.open()
			Win.opener = null
			Win.location = url
		},
		gohome() {
			this.$router.push({
				path: '/cff'
			})
		}
	}
}
</script>
<style lang="scss" scoped>
.home {
	height: 100%;
	width: 100%;
	background: url('~@/assets/imgs/bg.png') no-repeat center bottom;
	background-size: cover;
}

.el-header {
	height: 80px !important;
	padding: 0 !important;
	box-sizing: none !important;
	font-size: 28px;
	color: rgba(86, 101, 112, 1);
	background: transparent;
	display: flex;
	justify-content: center;

	.header {
		width: 90%;
		display: flex;
		align-items: center;
		max-width: 1200px;

		img {
			height: 50px;
		}

		.el-button {
			width: 150px;
		}

		.el-dropdown {
			margin-left: 10px;

			.el-button {
				width: 150px;
			}
		}
	}
}

.el-main {
	padding: 0 !important;
	box-sizing: none !important;
	background-color: transparent;

	.body {
		height: 100%;
		width: 90%;
		margin: auto;
		max-width: 1200px;

		p {
			color: #566570;
			font-size: 20px;
			text-align: center;
		}

		.ppb {
			color: #409eff;
			cursor: pointer;
		}

		.fots {
			margin-bottom: 20px;

			.ear {
				cursor: initial;
			}

			span {
				font-size: 16px;
				color: #566570;
				margin-right: 36px;
				cursor: pointer;

				img {
					height: 18px;
					margin-bottom: -3px;
				}
			}
		}

		.cards {
			display: flex;
			margin-bottom: 50px;

			div {
				width: 380px;
				border-radius: 38px;
				height: 390px;

				span {
					font-size: 18px;
					color: #566570;
					display: block;
					padding: 0 36px;
					// margin-bottom: 36px;
				}

				.cardsi {
					text-align: center;

					img {
						margin-top: 36px;

						height: 76px;
					}
				}
			}

			.card1 {
				background: rgba(255, 186, 168, 0.4);

				p {
					font-size: 22px;
					color: #fd8465;
				}
			}

			.card2 {
				margin: auto;
				background: rgba(139, 198, 248, 0.4);

				p {
					font-size: 22px;
					color: #21c3f3;
				}
			}

			.card3 {
				background: rgba(255, 172, 229, 0.4);

				p {
					font-size: 22px;
					color: #ff719d;
				}
			}
		}

		.dapps {
			margin-top: 40px;
			margin-bottom: 60px;

			.dapp {
				display: block;
				margin: auto;
				width: 319px;
				height: 76px;
				font-size: 24px;
				border-radius: 38px;
				box-shadow: 0px 0px 20px #2196f3;
			}
		}

		.icons {
			text-align: center;
			margin-top: 100px;

			img {
				height: 125px;
			}
		}

		.text {
			text-align: center;
			margin-bottom: 30px;

			/deep/ .el-divider--horizontal {
				width: 70px;
				margin: auto;
				margin-top: -20px;
				height: 3px;
				/* color: #2196F3; */
				background-color: #2196f3;
				border-radius: 6px;
			}

			h2 {
				font-size: 36px;
				color: #566570;
				font-weight: 400;
			}
		}
	}
}

.en {
	display: flex;
	align-items: center;
	margin-left: 20px;
	cursor: pointer;
	font-size: 14px;

	img {
		height: 24px !important;
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px) {
	.dappa {
		display: none;
	}

	.en {
		margin-left: auto;
	}

	.body {
		.pp {
			font-size: 16px !important;
		}
	}

	.cards {
		flex-direction: column;

		div {
			margin: auto;

			width: 340px !important;
			// height: auto !important;
		}

		.card1,
		.card2,
		.card3 {
			margin-bottom: 36px !important;
		}
	}

	.fots {
		text-align: center;
		display: flex;
		flex-direction: column;

		span {
			display: block;
			margin-right: 0px !important;
		}

		.ear {
			width: 100%;
		}
	}
}
</style>
