<template>
  <div class="home">
    <el-container>
      <el-header>
        <img src="../assets/imgs/earning-08.png" alt />
      </el-header>
      <el-main>
        <div class="box">
          <div class="left">
            <div class="tag1" :class="{tag: tag===0}" @click="setTag(0)">
              <span>导语</span>
            </div>
            <div class="tag2" :class="{tag: tag===1}" @click="setTag(1)">
              <span>BTC → renBTC</span>
            </div>
            <div class="tag3" :class="{tag: tag===2}" @click="setTag(2)">
              <span>renBTC → wBTC</span>
            </div>
          </div>
          <div class="right">
            <div class="anchor">
              <span>导语：</span>
              <br />
              <span class="title">比特币网络和以太网是两条不同的区块链，BTC 是无法直接参与以太网上各种去中心化金融（Defi）协议的。为了让手中的 BTC 可以参与以太网上的 Defi
                协议以获得收益，我们需要把 BTC 变换成以太网上与比特币挂钩的 ERC20 代币。目前参与 Defi 协议能获得较高收益的与比特币挂钩的 ERC20 代币是 wBTC。为此，我们先需要把手中比特币网络上的
                BTC 转换成以太网络上的 renBTC，再将 renBTC 置换成 wBTC，从而参与 Defi 协议以获得收益。</span>
            </div>
            <div class="anchor">
              <span>第一步：将 BTC 换取为 renBTC</span>
              <p>
                1. 访问 REN
                <span @click="goOpen('https://renproject.io')">（https://renproject.io/）</span> 网站，选择 Bridge Asset to
                Ethereum
              </p>
              <img src="../assets/wbtc/2_1@2x.png" alt />
              <p>2. 连接您的钱包</p>
              <img src="../assets/wbtc/2_2@2x.png" alt />
              <p>3. 输入您要转换的 BTC 的数量，转换后的 renBTC 代币将直接发送到您连接的钱包地址中。 点击 NEXT。（请注意，由于下一步您需要转账 BTC 到系统给你的钱包地址，而转账是需要支付一定的
                BTC 作为手续费的，所以您需要在您的比特币钱包中保留至少 0.1 个比特币，而不能全部用来转换成 renBTC。）</p>
              <img class="images" src="../assets/wbtc/2_3@2x.png" alt />
              <p>4. 在确认界面直接点击 confirm 按钮，确认本次交易。 （请注意，转换 BTC 到 renBTC 是有一定的损耗的，相关的手续费在网站上会列出，所以，我们不建议您一次性转换很少的 BTC，建议至少
                3 个 BTC，不然手续费所占的比率会很高。）</p>
              <img class="images" src="../assets/wbtc/2_4@2x.png" alt />
              <p>5. 转账BTC并等待确认。 （此时网站上会显示一个 BTC 的转账地址，需要用您自己的比特币钱包把相应的 BTC 转到这个地址，在用您的比特币钱包转账并确认成功后的大约 1
                个小时，会在自己的以太网钱包地址收到renBTC。）</p>
              <img src="../assets/wbtc/2_5@2x.png" alt />
            </div>
            <div class="anchor">
              <span>第二步：把 renBTC 换取为 wBTC</span>
              <p>
                1. 访问 curve
                <span @click="goOpen('https://www.curve.fi')">（https://www.curve.fi/）</span> ，点击 “Connect Wallet”
              </p>
              <img src="../assets/wbtc/1_1.png" alt />
              <p>2. 点击页面左上角的绿色小标，在下拉菜单中选择 renBTC</p>
              <img src="../assets/wbtc/1_2.png" alt />
              <p>3. 在 From 中选择 renBTC，在 To 中选择 wBTC，并输入钱包中 renBTC 的数量</p>
              <img src="../assets/wbtc/1_3.png" alt />
              <p>4. 点击 Sell，确认本次交易</p>
            </div>
          </div>
        </div>
      </el-main>
      <el-footer>
        <img src="../assets/imgs/earning2-10.png" alt />
        <!-- 无风险收益基金协议
        <span>关于我们｜联系我们</span>-->
      </el-footer>
    </el-container>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        tag: 0,
      }
    },
    mounted() {
      // 监听滚动事件
      window.addEventListener('scroll', this.onScroll, false)
    },
    methods: {
      goOpen(val) {
        window.open(val, '_blank')
      },
      // 滚动监听器
      onScroll() {
        // 获取所有锚点元素
        const navContents = document.querySelectorAll('.anchor')
        // 所有锚点元素的 offsetTop
        const offsetTopArr = []
        navContents.forEach((item) => {
          offsetTopArr.push(item.offsetTop)
        })
        // 获取当前文档流的 scrollTop
        const scrollTop =
          (document.documentElement.scrollTop || document.body.scrollTop) + 220
        // 定义当前点亮的导航下标
        let navIndex = 0
        for (let n = 0; n < offsetTopArr.length; n++) {
          // 如果 scrollTop 大于等于第n个元素的 offsetTop 则说明 n-1 的内容已经完全不可见
          // 那么此时导航索引就应该是n了
          if (scrollTop >= offsetTopArr[n]) {
            navIndex = n
          }
        }
        this.tag = navIndex
      },
      // 跳转到指定索引的元素
      setTag(index) {
        // 获取目标的 offsetTop
        // css选择器是从 1 开始计数，我们是从 0 开始，所以要 +1
        const targetOffsetTop =
          document.querySelector(`.anchor:nth-child(${index + 1})`).offsetTop -
          220
        // 获取当前 offsetTop
        let scrollTop =
          document.documentElement.scrollTop || document.body.scrollTop
        // 定义一次跳 50 个像素，数字越大跳得越快，但是会有掉帧得感觉，步子迈大了会扯到蛋
        const STEP = 100
        // 判断是往下滑还是往上滑
        if (scrollTop > targetOffsetTop) {
          // 往上滑
          smoothUp()
        } else {
          // 往下滑
          smoothDown()
        }
        // 定义往下滑函数
        function smoothDown() {
          // 如果当前 scrollTop 小于 targetOffsetTop 说明视口还没滑到指定位置
          if (scrollTop < targetOffsetTop) {
            // 如果和目标相差距离大于等于 STEP 就跳 STEP
            // 否则直接跳到目标点，目标是为了防止跳过了。
            if (targetOffsetTop - scrollTop >= STEP) {
              scrollTop += STEP
            } else {
              scrollTop = targetOffsetTop
            }
            document.body.scrollTop = scrollTop
            document.documentElement.scrollTop = scrollTop
            // 关于 requestAnimationFrame 可以自己查一下，在这种场景下，相比 setInterval 性价比更高
            requestAnimationFrame(smoothDown)
          }
        }
        // 定义往上滑函数
        function smoothUp() {
          if (scrollTop > targetOffsetTop) {
            if (scrollTop - targetOffsetTop >= STEP) {
              scrollTop -= STEP
            } else {
              scrollTop = targetOffsetTop
            }
            document.body.scrollTop = scrollTop
            document.documentElement.scrollTop = scrollTop
            requestAnimationFrame(smoothUp)
          }
        }
      },
    },
    destroy() {
      // 必须移除监听器，不然当该vue组件被销毁了，监听器还在就会出错
      window.removeEventListener('scroll', this.onScroll)
    },
    destroyed() {},
  }
</script>
<style lang="scss" scoped>
  .home {
    height: 100%;
    width: 100%;
  }

  .el-header {
    height: 80px !important;
    padding: 0 !important;
    box-sizing: none !important;
    line-height: 120px;
    font-size: 28px;
    color: rgba(86, 101, 112, 1);
    background: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;

    img {
      height: 50px;
      margin-left: 13%;
      margin-top: 15px;
    }
  }

  .el-main {
    padding: 0 !important;
    margin-top: 100px;
    box-sizing: none !important;
    background: rgba(245, 245, 245, 1);
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
      width: 65%;
      // height: 1200px;
      margin: 40px 0;
      display: flex;
      min-width: 900px;

      .left {
        width: 180px;

        .tag1,
        .tag2,
        .tag3 {
          position: fixed;
          margin-top: 140px;
          height: 60px;
          width: 230px;
          background: #ffffff 0% 0% no-repeat padding-box;
          color: #2196f3;
          border: 1px solid #2196f3;
          border-radius: 20px;
          font-size: 14px;
          line-height: 60px;
          // text-align: center;
          padding-left: 20px;
          cursor: pointer;
        }

        .tag1 {
          margin-top: 60px;
        }

        .tag2 {
          margin-top: 140px;
        }

        .tag3 {
          margin-top: 220px;
        }

        .tag {
          box-shadow: 0px 0px 8px #2196f3;
          background-color: #2196f3;
          color: #ffffff;
        }
      }

      .right {
        flex: 10;
        background-color: cornflowerblue;
        border-radius: 22px;
        border: 1px solid#2196F3;
        background: #ffffff 0% 0% no-repeat padding-box;
        padding: 60px 120px;

        .anchor {
          margin: 30px 0;

          span {
            color: #566570;
            font-size: 22px;
          }

          p {
            font-size: 18px;
            color: #566570;

            span {
              font-size: 18px;
              border-bottom: 1px solid #566570;
              cursor: pointer;
            }
          }

          img {
            width: 60%;
          }

          .images {
            height: 20%;
          }

          .title {
            display: block;
            text-indent: 2em;
            font-size: 18px;
          }
        }
      }
    }
  }

  .el-footer {
    height: 80px !important;
    padding: 0 !important;
    box-sizing: none !important;
    line-height: 80px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background: rgba(86, 101, 112, 1);

    img {
      height: 40px;
      margin-left: 13%;
      margin-top: 10px;
    }

    span {
      float: right;
      margin-right: 13%;
    }
  }

  .el-container {
    min-height: 100%;
    width: 100%;
  }
</style>