<template>
  <div id="app">
    <router-view :iSphone='iSphone' />
  </div>
</template>
<script>
  import {
    mapMutations
  } from 'vuex'
  export default {
    data() {
      return {
        clientW: document.body.clientWidth,
        iSphone: false
      }
    },
    mounted() {
      this.clientW = document.body.clientWidth
      this.iSphone = this.clientW < 768 ? true : false
      this.setIsPhone(this.iSphone)
      // 当加载页面的时候设置生效
      window.onresize = () => {
        return (() => {
          this.clientW = document.body.clientWidth
          this.iSphone = this.clientW < 768 ? true : false
          this.setIsPhone(this.iSphone)
        })()
      }
    },
    methods: {
      ...mapMutations(['setIsPhone'])
    }
  }
</script>
<style>
  html,
  body,
  #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
      "WenQuanYi Micro Hei", sans-serif;
  }
</style>