<template>
  <div class="home">
    <div class="body">
      <p class="title">
        <el-divider direction="vertical"></el-divider>{{$t('btc.text1')}}
      </p>
      <div class="body_top">
        <el-form label-position="right" label-width="120px" :model="form">
          <el-form-item label="BTC：">
            <el-input v-model="amount" @input="getBtcFees" @change="amountNumber"
              onkeyup="value=value.replace(/[^\d^\.]/g,'')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('btc.text2')">
            <el-input v-model="MetaMaskAddress" :disabled="true"></el-input>
          </el-form-item>
        </el-form>
        <div class="body_text">
          <li>
            <span>{{$t('btc.text3')}}</span>
            <span class="text_span">1 BTC ≈ {{costByFilter(costC)}} WBTC</span>
          </li>
          <li>
            <span>
              {{$t('btc.text4')}}
              <el-tooltip class="item" effect="dark" :content="$t('btc.text5')" placement="top">
                <i class="el-icon-warning"></i>
              </el-tooltip>
            </span>
            <span class="text_span">{{costNum}} BTC</span>
          </li>
          <li>
            <span>
              {{$t('btc.text6')}}
              <el-tooltip class="item" effect="dark" :content="$t('btc.text7')" placement="top">
                <i class="el-icon-warning"></i>
              </el-tooltip>
            </span>
            <span class="text_span">{{costB}} BTC</span>
          </li>
          <li>
            <span>{{$t('btc.text8')}}</span>
            <span class="text_span">≈{{btcNum}}</span>
          </li>
        </div>
        <el-button type="primary" plain round class="btnok" @click="setBtcConfirm()">{{$t('btc.btn1')}}</el-button>
        <!-- //testfn -->
      </div>
      <p class="title">
        <el-divider direction="vertical"></el-divider>{{$t('btc.text9')}}
      </p>
      <div class="body_bottom">
        <el-table :data="tableList" stripe :header-cell-style="{background:'#f4f9fd',color:'#1882D6'}" height="154px"
          style="width: 100%">
          <el-table-column align="center" :label="$t('btc.t1')" :min-width="IsPhone?0:200">
            <template slot-scope="scope">
              <span>{{timeFormat(scope.row.attributes.createdAt)}}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('btc.t2')" align="center" :min-width="IsPhone?0:220">
            <template slot-scope="scope">
              <span>{{IsPhone?strSlice( scope.row.attributes.transaction):scope.row.attributes.transaction}}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('btc.t3')" min-width="100" align="center" v-if="!IsPhone">
            <template slot-scope="scope">
              <span>{{ scope.row.attributes.block}}/6</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('btc.t4')" align="center" :min-width="IsPhone?0:100">
            <template slot-scope="scope">
              <el-tooltip class="item" effect="dark" :content="$t('btc.statusType')[scope.row.attributes.status]"
                placement="top">
                <div class="status">
                  <span>{{$t('btc.statusType')[scope.row.attributes.status]}}</span>
                  <i class="el-icon-warning"></i>
                </div>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column :label="$t('btc.t5')" align="center" min-width='300' v-if="!IsPhone">
            <template slot-scope="scope">
              <el-button v-if="scope.row.attributes.status<2" size="mini" class="btntb" @click="editRen(scope.row)">
                {{$t('btc.text10')}}
              </el-button>
              <el-button v-if="scope.row.attributes.status===2||scope.row.attributes.status===5" size="mini"
                class="btntb" @click="editRen(scope.row)"> {{$t('btc.text11')}}</el-button>
              <el-button v-if="scope.row.attributes.status>2" size="mini" class="btntb"
                @click="goEtherscan(scope.row.attributes.ethHash)"> {{$t('btc.text12')}}</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="body_foot">
        <el-pagination small layout="prev, pager, next" :page-size="2" :current-page.sync="currentPage"
          :total="tableData.length"></el-pagination>
      </div>
    </div>
    <el-dialog :visible.sync="isBtc" width="900px" top='5vh' :before-close="handleClose">
      <p class="title">
        <el-divider direction="vertical"></el-divider> {{$t('btc.text13')}}
      </p>
      <div class="dl_body">
        <div class="dl_text">
          <img src="../../assets/imgs/dl.svg" alt style="width: 13px;" />
          <span>{{$t('btc.fun1',{amount:amount})}}</span> <br />
          <span>{{$t('btc.fun2',{amount:amount})}} </span> <br />
          <span>{{$t('btc.fun3')}}</span>
        </div>
        <div class="radio_btc" v-if="remind">
          <i class="el-icon-warning"></i>
          {{$t('btc.statusType')[addParseObj.attributes.status]}}
          <el-button v-show="addParseObj.attributes.status>2" size="mini" class="btntk"
            @click="goEtherscan(addParseObj.attributes.ethHash)"> {{$t('btc.text12')}}</el-button>
        </div>
        <p>{{$t('btc.fun4',{amount:amount})}}</p>
        <div class="dl_hash">
          <div class="dl_code">{{IsPhone?ellipsis(appSrc):appSrc}}</div>
          <div class="dl_icon">
            <i class="el-icon-document-copy" @click="copyHash()"></i>
            <!-- <img src="../../assets/imgs/copy.svg" alt @click="copyHash()" /> -->
          </div>
        </div>
        <div class="dl_qr">
          <div class="appsrc">
            <vue-qr ref="Qrcode" :logoScale=".2" :size="90" :margin="0" :auto-color="true" :dot-scale="1"
              :text="appSrcQ" :callback="test" qid="testid" />
          </div>
          <span @click="saveQrcode"> {{$t('btc.text14')}}</span>
          <el-button type="primary" plain round class="btncode" @click="isBtc = false">{{$t('btc.btn1')}}</el-button>
        </div>
      </div>
      <div class="dl_footer">
        <!-- <div class="dl_rf">
          <img src="../../assets/imgs/ren-icon@2x.png" alt style="width: 90px;" />
        </div>-->
        <div class="dl_ft">
          <div> {{$t('btc.text15')}}</div>
        </div>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="isBtcConfirm" width="500px" top='10vh' :before-close="handleClose">
      <p class="title">
        <el-divider direction="vertical"></el-divider> {{$t('btc.text13')}}
      </p>
      <div class="dl_body">
        <div class="dl_text">
          <li>
            <span> {{$t('btc.text16')}}</span>
            <span class="text_span">{{amount}} BTC</span>
          </li>
          <li>
            <span> {{$t('btc.text17')}}</span>
            <span class="text_span">1 BTC ≈ {{costByFilter(costC)}} WBTC</span>
          </li>
          <li>
            <span>
              {{$t('btc.text18')}}
              <el-tooltip class="item" effect="dark" :content="$t('btc.text19')" placement="top">
                <i class="el-icon-warning"></i>
              </el-tooltip>
            </span>
            <span class="text_span">{{costNum}} BTC</span>
          </li>
          <li>
            <span>
              {{$t('btc.text20')}}
              <el-tooltip class="item" effect="dark" :content=" $t('btc.text7')" placement="top">
                <i class="el-icon-warning"></i>
              </el-tooltip>
            </span>
            <span class="text_span">{{costB}} BTC</span>
          </li>
          <li>
            <span>{{$t('btc.text21')}}</span>
            <span class="text_span">≈ {{btcNum}}</span>
          </li>
        </div>
        <div class="radio_btc">
          <div class="check">
            <el-checkbox v-model="radio"></el-checkbox>
          </div>
          <div @click.stop="setRadio">{{$t('btc.fun5',{amount:amount})}} </div>
        </div>
        <div class="dl_qr">
          <el-button type="primary" plain round class="btncode" @click="setRen(null)" :disabled="!radio">
            {{$t('btc.btn1')}}</el-button>
        </div>
      </div>
      <div class="dl_footer">
        <!-- <div class="dl_rf">
          <img src="../../assets/imgs/ren-icon@2x.png" alt style="width: 90px;" />
        </div>-->
        <div class="dl_ft">
          <div> {{$t('btc.text22')}}</div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import RenJS from '@renproject/ren'
  import {
    Bitcoin,
    Ethereum
  } from '@renproject/chains'
  import VueQr from 'vue-qr'
  import {
    mapState,
  } from 'vuex'
  import {
    MintThenSwap,
    getDy,
    getPadding
  } from '@/common/web3'
  import {
    randomString,
    toHexString,
    timeFormatting,
    copys
  } from '@/utils'
  import dayjs from 'dayjs'
  import {
    Tag,
    Network,
    ADAPTER
  } from '../../config.js'

  export default {
    components: {
      VueQr,
    },
    data() {
      return {
        dialogVisible: false,
        isBtc: false,
        form: {},
        input1: '',
        appSrc: '',
        appSrcQ: '',
        nonce: null,
        currentPage: 1,
        btcNum: 0,
        costA: 0.0025,
        costB: 0.001,
        costC: 0,
        costNum: 0,
        amount: 0,
        tableData: [],
        addParseObj: null,
        statusType: [
          '等待交易',
          '正在交易',
          '等待授权',
          'Pending',
          '交易成功',
          '交易失败',
        ],
        topCenter: [
          '请发送BTC到指定地址，如已经发送请点击操作后耐心等待！',
          'BTC已经发送，请点击操作后耐心等待！',
          '请点击操作授权钱包，等待WBTC发送！',
          'WBTC正在发送至您的钱包，请耐心等待！',
          '请点击操作，前往Etherscan查看详情！',
          '请点击操作从新授权，前往Etherscan查看详情！',
        ],
        prompt: [
          '请发送BTC到指定地址，如已经发送请点击操作后耐心等待！',
          'BTC已经发送，请耐心等待！',
          '请点击授权钱包，等待WBTC发送！',
          'WBTC正在发送至您的钱包，请耐心等待！',
          'WBTC已发送，前往Etherscan查看详情！',
          '交易失败，请关闭页面从新点击操作继续交易！',
        ],
        isBtcConfirm: false,
        timer: null,
        radio: false,
        remind: false,
        GameScore: null,
      }
    },
    watch: {
      MetaMaskAddress(val) {
        this.getParse()
      },
      isBtc(cur, old) {
        if (!cur) {
          this.amount = 0
        }
      },
    },
    computed: {
      ...mapState([
        'MetaMaskAddress',
        'IsPhone'
      ]),
      tableList() {
        if (this.tableData.length < 2) {
          return this.tableData
        } else {
          return this.tableData.slice(
            (this.currentPage - 1) * 2,
            this.currentPage * 2
          )
        }
      },
    },
    async mounted() {
      console.log(this.IsPhone)
      this.GameScore = Parse.Object.extend('testCffBtcWacc')
    },
    methods: {
      strSlice(val) {
        return val.slice(0, 6)
      },
      costByFilter(val) {
        return val / 1e8
      },
      setRadio() {
        this.radio = !this.radio
      },
      setBtcConfirm() {
        if (!isNaN(Number(this.amount)) && Number(this.amount) < this.costB) {
          this.Warning(this.$t('btc.fun6', {
            amount: this.costB
          }))
          return
        }
        this.addParseObj = null
        this.remind = false
        this.isBtcConfirm = true
      },

      ellipsis(value, one = 0, two = 6) {
        if (!value) return ''
        if (value.length > 10) {
          return value.slice(one, two) + '...' + value.slice(value.length - 4, value.length)
        }
        return value
      },

      editRen(val) {
        if (
          val.attributes.status === 0 &&
          dayjs().valueOf() - dayjs(val.attributes.createdAt).valueOf() >= 86400000
        ) {
          this.Warning(this.$t('btc.text23'))
          return
        }
        this.remind = true
        this.setRen(val)
      },
      goEtherscan(id) {
        if (Tag) {
          window.open(`https://kovan.etherscan.io/tx/${id}`, '_blank')
        } else {
          window.open(`https://etherscan.io/tx/${id}`, '_blank')
        }
      },
      timeFormat(val) {
        return timeFormatting(val, this.IsPhone)
      },
      handleClose() {
        this.isBtc = false
        this.isBtcConfirm = false
      },
      //获取ren vm交易所需要费用
      getBtcFees(val) {
        if (isNaN(Number(val))) {
          return 0
        }
        const A = Number(val)
        this.costNum = this.costA * A
        // const B = (A - this.costNum) * (this.costC / 1e8)
        const B = (A - this.costNum - this.costB) * (this.costC / 1e8)
        this.btcNum = val === '' || val === 0 ? 0 : Math.floor(B * 1000000) / 1000000
      },
      amountNumber(val) {
        this.amount = Number(val)
      },
      async setRen(val) {
        this.isBtcConfirm = false
        this.radio = false
        if (val) {
          this.addParseObj = val
          this.amount = this.addParseObj.attributes.amount
        }
        const amount =
          this.addParseObj && this.addParseObj.attributes.amount ?
          this.addParseObj.attributes.amount :
          Number(this.amount)
        if (!isNaN(Number(amount)) && Number(amount) < 0.01) {
          this.Warning(this.$t('btc.text24'))
          return
        }
        if (!this.MetaMaskAddress) {
          this.Warning(this.$t('btc.text25'))
          return
        }
        const web3 = window.web3
        console.log(web3, 'web3')
        const renJS = Network === 'ropsten' ? new RenJS('testnet') : new RenJS()
        // Replace with your contract's address.
        const contractAddress = ADAPTER
        const random =
          this.addParseObj && this.addParseObj.attributes.nonce ?
          this.addParseObj.attributes.nonce :
          randomString(19) + new Date().getTime()
        const buf = new Buffer(random)
        const costC = this.addParseObj && this.addParseObj.attributes.costC ?
          this.addParseObj.attributes.costC :
          this.costC
        this.nonce = buf
        //构建ren vm数据对象 并获取对应的Tx 自己触发合约交易
        const mint = await renJS.lockAndMint({
          // Send BTC from the Bitcoin blockchain to the Ethereum blockchain.
          asset: 'BTC',
          from: Bitcoin(),
          to: Ethereum(web3.currentProvider).Contract({
            // The contract we want to interact with
            sendTo: contractAddress,
            // The name of the function we want to call
            contractFn: 'mintThenSwap',
            // Arguments expected for calling `deposit`
            contractParams: [{
                name: '_minExchangeRate',
                type: 'uint256',
                value: costC,
              },
              //滑dian
              {
                name: '_slippage',
                type: 'uint256',
                value: 240,
              },
              //wbtc目标地址
              {
                name: '_wbtcDestination',
                type: 'address',
                value: this.MetaMaskAddress,
              },
              {
                name: '_msgSender',
                type: 'address',
                value: this.MetaMaskAddress,
              },
            ],
          }),
          nonce: this.nonce,
        })
        //监听交易状态 并触发后续交易
        mint.on('deposit', async (deposit) => {
          const hash = deposit.txHash()
          if (this.addParseObj.attributes.status === 0) {
            await this.updateParse(this.addParseObj, 1, null, hash)
            await this.getParse()
          }
          await deposit
            .confirmed()
            .on('target', (confs, target) => {
              console.log(hash, 'hash')
              console.log(`${confs}/${target} 1target`)
            })
            .on('confirmation', (confs, target) => {
              console.log(hash, 'hash')
              console.log(`${confs}/${target} 2confirmation`)
              let block = Number(confs)
              this.updateParse(this.addParseObj, null, block)
            })
          await deposit
            .signed()
            // Print RenVM status - "pending", "confirming" or "done".
            .on('status', (status) => {
              console.log(status, 'status')
            })
          let isWbtc = 0
          if (isWbtc === 0) {
            isWbtc++
            const ts = await deposit.queryTx()
            const nHash = '0x' + toHexString(ts.out.nhash)
            const sig = '0x' + toHexString(ts.out.signature)
            const amountBtc = ts.out.amount
            if (this.addParseObj.attributes.status === 1) {
              await this.updateParse(this.addParseObj, 2)
              await this.getParse()
            }
            this.sendBTC(nHash, sig, amountBtc, costC)
          }
        })
        this.appSrc = mint.gatewayAddress
        this.appSrcQ = `bitcoin:${mint.gatewayAddress}?amount=${this.amount}`
        if (!val) {
          const dataObj = {
            nonce: random,
            account: this.MetaMaskAddress,
            address: this.appSrc,
            status: 0,
            amount: Number(amount),
            transaction: `${Number(amount)} BTC -> ${this.btcNum} WBTC`,
            hash: null,
            ethHash: null,
            block: 0,
            costC: this.costC
          }
          this.setParse(dataObj)
        }
        this.isBtc = true
      },
      //自己触发合约交易
      async sendBTC(nHash, sig, amount, costC) {
        let params = MintThenSwap(
          this.MetaMaskAddress,
          costC,
          0,
          240,
          this.MetaMaskAddress,
          amount,
          nHash,
          sig
        )
        console.log(params, 'params')
        window.web3.eth
          .sendTransaction(params)
          .on('transactionHash', async (hash) => {
            if (hash) {
              if (this.addParseObj.attributes.status === 2) {
                await this.updateParse(this.addParseObj, 3, null, null, hash)
                await this.getParse()
              }
            } else {
              this.Error(err.message)
              if (this.loading) {
                this.loading.close()
              }
            }
          })
          .on('error', console.error);
      },
      getPaddings(list) {
        clearInterval(this.timer)
        this.timer = null
        if (list && list.length > 0) {
          this.timer = setInterval(() => {
            list.forEach((item) => {
              getPadding(item.attributes.ethHash).then((res) => {
                if (res.status) {
                  this.updateParse(item, 4)
                } else {
                  this.updateParse(item, 5)
                }
              })
            })
          }, 3000)
        }
      },
      async updateParse(
        row,
        status = null,
        block = null,
        hash = null,
        ethHash = null,
        transaction = null,
      ) {
        try {
          if (status && status >= 0) {
            console.log(status, 'statushashset')
            row.set('status', status)
          }
          if (hash) {
            console.log(hash, 'hashset')
            row.set('hash', hash)
          }
          if (ethHash) {
            console.log(ethHash, 'ethHashhashset')
            row.set('ethHash', ethHash)
          }
          if (transaction) {
            console.log(transaction, 'transaction')
            row.set('transaction', transaction)
          }
          if (block && block >= 0) {
            console.log(block, 'block')
            row.set('block', block)
          }
          let res = await row.save()
          await this.getParse()
        } catch (error) {
          console.log(error)
        }
      },
      //取数据
      async getParse() {
        this.costC = Number(await getDy())
        try {
          const query = new Parse.Query(this.GameScore)
          query.equalTo('account', this.MetaMaskAddress)
          query.descending('createdAt')
          this.tableData = await query.find()
          const list = this.tableData.filter(
            (item) => item.attributes.status === 3
          )
          this.getPaddings(list)
        } catch (error) {
          return console.error(error)
        }
      },
      //存数据
      async setParse(data) {
        // const GameScore = Parse.Object.extend('testCffBtcWacc')
        const gameScore = new this.GameScore()
        try {
          this.addParseObj = await gameScore.save(data)
          await this.getParse()
        } catch (error) {
          return console.error(error)
        }
      },
      //二维码生成
      saveQrcode() {
        console.log(this.$refs.Qrcode.$el.src, 'this.$refs.Qrcode.$el.src')
        const iconUrl = this.$refs.Qrcode.$el.src
        let a = document.createElement('a')
        let event = new MouseEvent('click')
        a.download = '二维码'
        a.href = iconUrl
        a.dispatchEvent(event)
      },
      test(dataUrl, id) {
        console.log(dataUrl, id)
      },
      exit() {
        this.MetaMaskAddress = ''
      },
      copyHash() {
        copys(this, this.appSrc)
      },
    },
    destroyed() {
      clearInterval(this.timer)
      this.timer = null
    },
  }
</script>
<style lang="scss" scoped>
  .el-icon-document-copy {
    font-size: 20px;
    color: #2196f3;
    cursor: pointer;
    margin-left: 10px;
  }

  .home {
    height: initial;
    width: 100%;
    display: flex;
    justify-content: center;

    .body {
      border-radius: 36px;
      border: 1px solid #d1d7de;
      // box-shadow: 0px 0px 10px 1px rgba(25, 118, 210, 0.23);
      padding-inline-start: 0;
      background-color: rgba(244, 249, 253, 1);
      margin-bottom: 10px;
      height: 100%;
      width: 100%;

      border-color: #2196f3;
      box-shadow: 0px 0px 8px #1976d23b;
      // padding: 20px 40px;
    }

    .title {
      color: #566570;
      padding-left: 20px;
    }

    .body_top {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      /deep/ .el-input-number__increase,
      .el-input-number__decrease {
        display: none;
      }

      /deep/ .el-input-number__decrease {
        display: none;
      }

      /deep/ .el-input-number .el-input__inner {
        padding-left: 10px;
        padding-right: 0px;
        text-align: none;
      }

      /deep/ .el-input-number {
        width: 100%;
      }
    }

    .body_bottom {

      // height: 200px;
      .status {
        cursor: help;

        i {
          color: #fb8c00;
          margin-left: 5px;
        }
      }

      /deep/ .el-table tr {
        background: rgba(226, 242, 255, 1);
      }

      /deep/ .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: rgba(245, 249, 252, 1);
      }

      /deep/ .el-table {
        line-height: none;
      }

      /deep/ .el-table th.gutter {
        background: #f4f9fd;
      }

      /deep/ .el-table {
        background: #f4f9fd;
      }
    }

    .body_foot {
      flex: 1;
      display: flex;
      align-items: center;
      flex-flow: row-reverse;
      padding-right: 50px;
    }

    /deep/ .el-pagination {
      background-color: transparent !important;
    }

    /deep/ .el-pager li {
      background-color: transparent !important;
    }

    /deep/ .el-pagination button:disabled {
      background-color: transparent !important;
    }

    /deep/ .el-pagination .btn-next {
      background-color: transparent !important;
    }

    /deep/ .el-pagination .btn-prev {
      background-color: transparent !important;
    }

    // /deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
    //   background-color: #0258ff !important;
    //   color: white !important;
    // }
  }

  .el-header {
    height: 80px !important;
    padding: 0 !important;
    box-sizing: none !important;
    // line-height: 120px;
    font-size: 28px;
    color: rgba(86, 101, 112, 1);
    background: rgba(255, 255, 255, 1);

    img {
      height: 50px;
      margin-left: 13%;
      margin-top: 15px;
    }

    .el-button {
      float: right;
      margin-top: 20px;
      margin-right: 13%;
      width: 150px;
    }

    .pending {
      float: right;
      margin-right: 5px;
      background-color: #409eff;
      border: none;
      color: #fff;
    }

    .el-dropdown {
      float: right;
      margin-right: 12%;

      .el-button {
        margin-top: 27px;
        margin-right: 0;
        width: 150px;
      }
    }
  }

  .el-main {
    padding: 0 !important;
    box-sizing: none !important;
    background: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 620px;
    overflow: initial;

    .body {
      height: 610px;
      width: 100%;
      // min-width: 900px;
      display: flex;
      flex-direction: column;
    }

    .dialog-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    /deep/ .el-dialog__body {
      padding: 0;
    }
  }

  .el-footer {
    height: 60px !important;
    padding: 0 !important;
    box-sizing: none !important;
    line-height: 80px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background: rgba(86, 101, 112, 1);

    img {
      // width: 3%;
      height: 40px;
      margin-left: 13%;
      margin-top: 10px;
    }

    span {
      float: right;
      margin-right: 13%;
    }
  }

  .el-container {
    height: 100%;
    width: 100%;
  }

  /deep/ .el-dropdown-menu {
    border: none;
    color: #666;
    border-radius: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .later {
    color: #409eff;
    cursor: pointer;
  }

  .el-divider--vertical {
    width: 3px;
    background-color: #2196f3;
  }

  /deep/ .el-input__inner {
    border-radius: 36px;
  }

  .body_text {
    width: 75%;
    background: #ffffffa8 0% 0% no-repeat padding-box;
    border: 1px dashed #ccd0d3;
    border-radius: 9px;
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
    align-self: flex-end;

    .text_span {
      float: right;
    }

    li {
      list-style-type: none;
      margin: 6px;
      font-size: 16px;
      color: #bac1c6;
    }
  }

  .btnok {
    border-radius: 32px;
    padding: 16px 23px;
    width: 180px;
    align-self: flex-end;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .r-body {
    width: 100%;
    background: #ffffffa8 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font-size: 14px;
    color: #566570;

    img {
      height: 18px;
    }
  }

  .send {
    font-size: 14px;
    color: #566570;
  }

  .appsrc {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text_body {
    text-align: center;
    color: #2196f3;
    font-size: 14px;
  }

  .dl_body {
    width: 80%;
    margin: auto;

    .dl_text {
      background-color: #f4f9fd;
      padding: 20px;
      border-radius: 6px;
      margin-bottom: 20px;

      .text_span {
        float: right;
      }

      li {
        list-style-type: none;
        margin: 6px;
        font-size: 16px;
        color: #bac1c6;
      }
    }

    .radio_btc {
      background-color: #fb8c00;
      // background-color: #f4f9fd;
      padding: 10px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      .check {
        margin-right: 10px;
      }

      div {
        cursor: pointer;
      }

      /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
        background-color: #fb8c00;
        border-color: #fff;
      }
    }

    .dl_qr {
      width: 100%;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 14px;
        color: #2196f3;
        cursor: pointer;
      }
    }

    .dl_hash {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .dl_code {
        width: 60%;
        border: 1px solid #ccd0d3;
        border-radius: 32px;
        padding: 10px 0 10px 25px;
      }

      .dl_icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 25px;
          margin-left: 20px;
          cursor: pointer;
        }

        span {
          font-size: 14px;
        }
      }
    }

    .btncode {
      border-radius: 32px;
      padding: 16px 23px;
      width: 180px;
      // align-self: flex-end;
      margin-right: 5px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }

  .dl_footer {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;

    .dl_rf {
      display: flex;
      flex-flow: row-reverse;
      margin-right: 30px;
    }

    .dl_ft {
      display: flex;
      flex-flow: row-reverse;
      font-size: 14px;
      color: #c3c8cc;
    }

    /deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #fd7a3a; // 进行修改背景和字体
    }
  }

  .btntb {
    border-radius: 32px;
    width: 120px;
    background: transparent;
    border-color: #409eff;
    color: #409eff;
  }

  .btntb:hover {
    background: #409eff;
    color: #fff;
  }

  .btntk {
    border-radius: 20px;
    width: 120px;
    background: transparent;
    border-color: #fff;
    color: #fff;
  }

  .btntk:hover {
    background: #fff;
    color: #fd7a3a;
    border-color: #fff;
  }

  /deep/ .el-dialog__body {
    padding: 0;
  }

  /deep/ .el-dialog {
    border-radius: 20px !important;
    // background-color:
  }


  @media screen and (max-width: 768px) {
    .title {
      padding-left: 10px !important;
    }

    .body_top {
      width: 90% !important;
    }

    .body_text {
      width: 85% !important;
      align-self: center !important;
    }

    .btnok {
      width: 90% !important;
      align-self: center !important;
    }

    /deep/ .el-form-item__content {
      margin-left: 100px !important;
    }

    /deep/ .el-form-item__label {
      width: 100px !important;
    }

    /deep/ .el-dialog {
      width: 90% !important;
    }

  }

  /deep/ .el-table__empty-text {
    display: none;
  }
</style>