<template>
  <div>
    <div class="web" v-if="!IsPhone">
      <div class="home" v-if="msg===''">
        <ul v-for="(item,idx) in list" :key="idx" :style="{  'border-color': item.showContent===true?'#2196F3':'',
    'box-shadow': item.showContent===true? '0px 0px 8px #1976D23B':''}">
          <div class="title">
            <el-row>
              <el-col :span="6">
                <div class="title_text">
                  <img class="title_img" :src="require('../../assets/imgs/'+(item.code)+'.png' )" alt />
                  <span>{{item.code==='WBTC'?'BTC/'+item.code:item.code}}</span>
                </div>
              </el-col>
              <el-col :span="4">
                <div>

                  <li class="top_l3">
                    <el-tooltip class="item" effect="dark" placement="top">
                      <div slot="content">
                        {{$t('cff.text1')}}
                        <br /> {{$t('cff.text2')}}
                      </div>
                      <span> {{$t('cff.text4')}}</span>
                    </el-tooltip>
                  </li>
                  <li class="top_li">{{$t('cff.text3')}}</li>
                  <li class="bom_li">{{nameFixed(item.user_assets,item.code)}}</li>
                </div>
              </el-col>
              <el-col :span="4">
                <div>
                  <li class="top_l2">{{$t('cff.text4')}}</li>
                  <li class="top_li">{{$t('cff.text5')}}</li>
                  <li class="bom_li">{{nameFixed(item.user_profit,item.code)}}</li>
                </div>
              </el-col>

              <el-col :span="2">
                <div>
                  <el-divider direction="vertical"></el-divider>
                </div>
              </el-col>
              <el-col :span="4">
                <div>
                  <li class="top_l3">
                    <el-tooltip class="item" effect="dark" placement="top">
                      <div slot="content">
                        {{$t('cff.text6')}}
                      </div>
                      <span>{{$t('cff.text7')}}</span>
                    </el-tooltip>
                  </li>

                  <li class="top_li">{{$t('cff.text3')}}</li>
                  <li class="bom_li">{{nameFixed(item.totalassets,item.code)}}</li>
                </div>
              </el-col>
              <el-col :span="4">
                <div>
                  <li class="top_l2">xx</li>
                  <li class="top_li">{{$t('cff.text8')}}</li>
                  <li class="bom_li">{{ToFixed(item.sevendayProfit,1)+'%'}}</li>
                </div>
              </el-col>
              <el-col :span="1">
                <i :class="item.showContent?'el-icon-arrow-up':'el-icon-arrow-down'" @click="changeContent(item)"></i>
              </el-col>
            </el-row>
          </div>
          <div v-if="item.showContent" class="bottom">
            <div class="body">
              <el-row>
                <el-col :span="4">
                  <span class="bom_li">{{$t('cff.text9')}}</span>
                </el-col>
                <el-col :span="9">
                  <!-- <div>
                    <span class="bom_li">{{$t(`cff.${item.code}Name`)}}</span>
                    <span class="bom_tu" @click="selectLine(item)"><i
                        class="el-icon-data-line"></i>{{$t('cff.btn1')}}</span>
                  </div> -->
                  <span class="spanText">{{$t(`cff.${item.code}Introduce`)}}</span>
                  <br />
                  <span class="spanText">{{$t(`cff.fun2`,{num:itemData.feeRatio})}}</span>
                </el-col>
                <el-col :span="5">
                  <div>
                    <el-button style="float: right;" type="primary" plain @click="selectLine(item)">
                      {{$t('cff.btn1')}}</el-button>
                  </div>
                </el-col>
                <el-col :span="5">
                  <div>
                    <el-button style="float: right;" type="primary" plain @click="selectTable(item.logs_user)">
                      {{$t(`cff.btn2`)}}</el-button>
                  </div>
                </el-col>
              </el-row>
            </div>
            <div class="body_text">
              <div>
                <el-row v-show="item.code==='WBTC'">
                  <el-col :span="10" style="margin-bottom: -20px;">
                    <li class="bom_li">
                      <span class="input_span">
                        <span class="showWbtc" @click="goWbtc">{{$t(`cff.btn3`)}}</span>
                      </span>
                    </li>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="10">
                    <li class="bom_li" style="margin-bottom: 10px;">
                      <span class="input_span">
                        {{$t(`cff.text12`)}}{{nameFixed(itemData.totalOf,item.code)}}
                        <span>{{item.code}}</span>
                      </span>
                    </li>
                    <li class="input_li">
                      <el-input v-model="input1" @input="Input1" @focus="focus(1)" @blur="nofocus()"
                        onkeyup="value=value.replace(/[^\d^\.]/g,'')">
                        <template slot="append">
                          <span class="Max" v-show="Max===1" @click="setUSDC(itemData.totalOf)">MAX</span>
                        </template>
                      </el-input>
                    </li>
                    <li>
                      <el-slider v-model="value1" :step="25" :marks="marks" @change="setInput1"
                        :disabled="itemData.totalOf==='0'" show-stops :show-tooltip="false"></el-slider>
                    </li>
                  </el-col>
                  <el-col :span="10" :offset="3">
                    <div>
                      <li class="bom_li" style="margin-bottom: 10px;">
                        <span class="input_span">
                          {{$t(`cff.text13`)}} ≈ {{nameFixed(itemData.balanceOf,item.code)}}
                          <span>{{item.code}}</span>
                          <el-tooltip class="item" effect="dark" placement="top-end">
                            <div slot="content">
                              {{$t(`cff.text14`)}}
                            </div>
                            <i class="el-icon-question"></i>
                          </el-tooltip>
                        </span>
                      </li>
                      <li class="input_li">
                        <el-input v-model="input2" @input="Input2" @focus="focus(2)" @blur="nofocus()"
                          onkeyup="value=value.replace(/[^\d^\.]/g,'')">
                          <template slot="append">
                            <span class="Max" v-show="Max===2" @click="getUSDC(itemData.balanceOf)">MAX</span>
                          </template>
                        </el-input>
                      </li>
                      <li>
                        <el-slider v-model="value2" :step="25" :marks="marks" @change="setInput2"
                          :disabled="itemData.balanceOf==='0'" show-stops :show-tooltip="false"></el-slider>
                      </li>
                    </div>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="10">
                    <el-button type="primary" plain style="float: right;width:45%"
                      v-if="item.code !== 'ETH'&&itemData.allowance===0" @click="shouquan=true">{{$t(`cff.btn7`)}}
                    </el-button>
                    <el-button type="primary" plain style="float: right;width:45%" v-else @click="setCoin(item)">
                      {{$t(`cff.btn4`)}}</el-button>
                  </el-col>
                  <el-col :span="10" :offset="3">
                    <span class="ratio">{{$t(`cff.text11`)}}{{itemData.ratio}}</span>
                    <el-button type="primary" plain style="float: right;width:50%" @click="getCoin(item)">
                      {{$t(`cff.btn5`)}}</el-button>
                  </el-col>
                </el-row>
              </div>
            </div>
          </div>
        </ul>
        <dialog-form :dialogVisible="dialogVisible" :fullscreen="fullscreen" :diaWidth="diaWidth" :title="title"
          @closeMain="closeMain" v-if="dialogVisible">
          <component :is="currentName" :echartsData="echartsData" :tableData="tableData" :cfName="cfName"
            :code="code" />
        </dialog-form>
        <dialog-form :dialogVisible="shouquan" @closeShow="closeShow" v-show="shouquan" :diaWidth="'350px'">
          <div class="shou">
            <p>{{$t(`cff.text15`)}}</p>
            <p>
              <el-button type="primary" plain @click="setShou">{{$t(`cff.btn6`)}}</el-button>
            </p>
          </div>
        </dialog-form>
      </div>
      <div v-else class="msg">
        <span>{{msg}}</span>
      </div>
    </div>
    <div class="h5" v-else>
      <div class="home" v-if="msg===''">
        <ul v-for="(item,idx) in list" :key="idx" :style="{  'border-color': item.showContent===true?'#2196F3':'',
    'box-shadow': item.showContent===true? '0px 0px 8px #1976D23B':''}">
          <div class="title">
            <el-row>
              <el-col :span="11">
                <div class="title_text">
                  <img class="title_img" :src="require('../../assets/imgs/'+(item.code)+'.png' )" alt />
                  <span>{{item.code==='WBTC'?'BTC/'+item.code:item.code}}</span>
                </div>
              </el-col>
              <el-col :span="12">
                <span style="    font-size: 14px; color: #566570;">
                  {{$t('cff.text21')}}{{ToFixed(item.sevendayProfit,1)+'%'}}</span>
              </el-col>
              <el-col :span="1">
                <i :class="item.showContent?'el-icon-arrow-up':'el-icon-arrow-down'" @click="changeContent(item)"></i>
              </el-col>
            </el-row>
          </div>
          <div v-if="item.showContent" class="bottom">
            <div class="body">
              <el-row>
                <el-col :span="6">
                  <el-tooltip class="item" effect="dark" placement="top">
                    <div slot="content">
                      {{$t('cff.text1')}}
                      <br /> {{$t('cff.text2')}}
                    </div>
                    <span class="bom_li">{{$t('cff.text4')}}：</span>
                  </el-tooltip>
                </el-col>
                <el-col :span="9">
                  <span class="bom_li">{{$t('cff.text3')}}</span><br />
                  <span class="spanText">{{nameFixed(item.user_assets,item.code)}}</span>
                </el-col>
                <el-col :span="9">
                  <span class="bom_li">{{$t('cff.text5')}}</span><br />
                  <span class="spanText">{{nameFixed(item.user_profit,item.code)}}</span>
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="6">
                  <el-tooltip class="item" effect="dark" placement="top">
                    <div slot="content">
                      {{$t('cff.text6')}}
                    </div>
                    <span class="bom_li">{{$t('cff.text7')}}：</span>
                  </el-tooltip>
                </el-col>
                <el-col :span="9">
                  <span class="bom_li">{{$t('cff.text3')}}</span><br />
                  <span class="spanText">{{nameFixed(item.totalassets,item.code)}}</span>
                </el-col>
                <el-col :span="9">
                  <span class="bom_li">{{$t('cff.text8')}}</span><br />
                  <span class="spanText">{{ToFixed(item.sevendayProfit,1)+'%'}}</span>
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="6">
                  <span class="bom_li">{{$t('cff.text9')}}</span>
                </el-col>
                <el-col :span="18">
                  <!-- <div>
                    <span class="bom_li">{{$t(`cff.${item.code}Name`)}}</span>
                  </div> -->
                  <span class="spanText">{{$t(`cff.${item.code}Introduce`)}}</span>
                  <br />
                  <span class="spanText">{{$t(`cff.fun2`,{num:itemData.feeRatio})}}</span>

                  <div>
                    <span class="bom_tu" @click="selectLine(item)"><i
                        class="el-icon-data-line"></i>{{$t('cff.btn1')}}</span>
                    <span class="bom_tu" @click="selectTable(item.logs_user)"><i
                        class="el-icon-notebook-2"></i>{{$t(`cff.btn2`)}}</span>
                  </div>
                </el-col>
              </el-row>

            </div>
            <div class="body_text">
              <div class="btcwbtc">
                <span class="bom_tu" @click="goWbtc" v-show="item.code==='WBTC'">{{$t(`cff.btn3`)}}</span><br
                  v-show="item.code==='WBTC'" />
                <span class="bom_li"> {{$t(`cff.text12`)}}{{nameFixed(itemData.totalOf,item.code)}} {{item.code}}</span>
              </div>
              <div class="maxinput">
                <el-input v-model="input1" @input="Input1" @focus="focus(1)" @blur="nofocus()"
                  onkeyup="value=value.replace(/[^\d^\.]/g,'')">
                  <template slot="append">
                    <span class="Max" v-show="Max===1" @click="setUSDC(itemData.totalOf)">MAX</span>
                  </template>
                </el-input>
                <el-slider v-model="value1" :step="25" :marks="marks" @change="setInput1"
                  :disabled="itemData.totalOf==='0'" show-stops :show-tooltip="false"></el-slider>
              </div>
              <el-button type="primary" plain class="crbtn" v-if="item.code !== 'ETH'&&itemData.allowance===0"
                @click="shouquan=true">{{$t(`cff.btn7`)}}</el-button>
              <el-button type="primary" plain class="crbtn" v-else @click="setCoin(item)">{{$t(`cff.btn4`)}}</el-button>

              <div class="btcwbtc">
                <span class="bom_li"> {{$t(`cff.text13`)}} ≈ {{nameFixed(itemData.balanceOf,item.code)}}
                  {{item.code}}</span>
              </div>
              <div class="maxinput">
                <el-input v-model="input2" @input="Input2" @focus="focus(2)" @blur="nofocus()"
                  onkeyup="value=value.replace(/[^\d^\.]/g,'')">
                  <template slot="append">
                    <span class="Max" v-show="Max===2" @click="getUSDC(itemData.balanceOf)">MAX</span>
                  </template>
                </el-input>
                <el-slider v-model="value2" :step="25" :marks="marks" @change="setInput2"
                  :disabled="itemData.balanceOf==='0'" show-stops :show-tooltip="false"></el-slider>
              </div>
              <el-button type="primary" plain class="crbtn" @click="getCoin(item)">{{$t(`cff.btn5`)}}</el-button>

              <div class="btcwbtc">
                <span class="bom_li ratio">{{$t(`cff.text11`)}}{{itemData.ratio}}</span>
              </div>
            </div>
          </div>
        </ul>
        <dialog-form :dialogVisible="dialogVisible" :fullscreen="fullscreen" :diaWidth="diaWidth" :title="title"
          @closeMain="closeMain" v-if="dialogVisible">
          <component :is="currentName" :echartsData="echartsData" :tableData="tableData" :cfName="cfName"
            :eHeight="'250px'" :code="code" />
        </dialog-form>
        <dialog-form :dialogVisible="shouquan" @closeShow="closeShow" v-show="shouquan" :diaWidth="'350px'">
          <div class="shou">
            <p style="text-a">{{$t(`cff.text15`)}}</p>
            <p>
              <el-button type="primary" class="crbtn" plain @click="setShou">{{$t(`cff.btn6`)}}</el-button>
            </p>
          </div>
        </dialog-form>
      </div>
      <div v-else class="msg">
        <span>{{msg}}</span>
      </div>
    </div>

  </div>
</template>

<script>
  import EchartsLine from './EchartsLine.vue'
  import CffTable from './CffTable.vue'
  import DialogForm from '../../components/DialogForm.vue'
  import {
    BigNumber
  } from 'bignumber.js'
  import {
    getAsset
  } from '@/common/api'
  import {
    contract,
    Network,
    Tag
  } from '../../config.js'
  import {
    getCFVBalanceOf,
    getIUSDCName,
    getIERCBalanceOf,
    getCFVVirtualPrice,
    getWithdraw,
    setDeposit,
    getAllowance,
    setApprove,
    getCFTName,
    getMaxAMount,
    setDepositETH,
    getWithdrawETH,
    getBalance,
    getGoundage,
    getHarvestFeeRatio
  } from '@/common/web3'

  import {
    mapState,
  } from 'vuex'
  export default {
    components: {
      DialogForm,
      EchartsLine,
      CffTable,
    },
    computed: {
      ...mapState([
        'NetworkId',
        'MetaMaskAddress',
        'IsPhone'
      ]),
      currentName() {
        switch (this.tag) {
          case 'EchartsLine':
            return EchartsLine
          case 'CffTable':
            return CffTable
          default:
            return ''
        }
      },
    },
    data() {
      return {
        msg: '',
        code: '',
        cfName: '',
        Max: 0,
        value1: 0,
        value2: 0,
        input1: 0,
        input2: 0,
        borderColor: 0,
        tag: '',
        diaWidth: '40%',
        dialogVisible: false,
        fullscreen: false,
        title: '',
        itemData: {
          totalOf: 0,
          balanceOf: 0,
          allowance: 0,
          logs_user: [],
          totalassets: 0,
          totalprofit: 0,
          name: '',
          feeRatio: '10%',
          ratio: '0'
        },
        list: [],
        setMoneyID: '',
        getMoneyID: '',
        marks: {
          0: '0',
          25: '25%',
          50: '50%',
          75: '75%',
          100: '100%',
        },
        loading: null,
        echartsData: [],
        tableData: [],
        timer: null,
        timer2: null,
        shouquan: false,
        Contract: null,
        Tags: null,
        isCode: '',
        ratio: ''
      }
    },
    watch: {
      NetworkId(val) {
        this.getAssetList()
      },
      MetaMaskAddress(val) {
        this.getAssetList()
      },
    },
    mounted() {
      this.isCode = this.$route.params.code
      this.getAssetList()
      this.Contract = contract
      this.Tags = Tag
    },
    methods: {
      goWbtc() {
        const {
          href
        } = this.$router.resolve({
          name: 'btcWbtc',
        })
        window.open(href, '_blank')
      },
      nameFixed(val, name) {
        const num = name === 'USDC' ? 1e2 : name === 'ETH' ? 1e4 : 1e8
        return Math.ceil(val * num) / num
      },
      ToFixed(val, key = 0) {
        if (key !== 0) {
          return Number(val * 100).toFixed(2)
        } else {
          return Number(val).toFixed(2)
        }
      },
      getTimer() {
        clearInterval(this.timer)
        this.timer = null
        this.timer = setInterval(() => {
          this.getData(this.code)
        }, 2000)
      },
      getTimer2() {
        clearInterval(this.timer2)
        this.timer2 = null
        this.timer2 = setInterval(() => {
          this.getTotal()
        }, 2000)
      },
      async getTotal() {
        try {
          let res = await getAsset(this.MetaMaskAddress)
          if (res.status === 200) {
            if (res.data.length > 0) {
              this.list.forEach((item, idx) => {
                item.totalassets = res.data[idx].totalassets
              })
            }
          }
        } catch (error) {
          console.log(error, '-----')
        }
      },
      async getAssetList() {
        try {
          let res = await getAsset(this.MetaMaskAddress)
          if (res.status === 200) {
            if (res.data.length > 0) {
              this.list = res.data
                // .filter((itm) => itm.code !== 'ETH')
                .map((item) => {
                  return {
                    ...item,
                    showContent: false,
                  }
                  // if (item.code === this.isCode) {
                  //   this.changeContent({
                  //     ...item,
                  //     showContent: true,
                  //   }, true)
                  //   return {
                  //     ...item,
                  //     showContent: true,
                  //   }
                  // } else {
                  //   return {
                  //     ...item,
                  //     showContent: false,
                  //   }
                  // }

                })
            } else {
              this.msg = this.$t(`cff.text16`)
            }
            this.getTimer2()
          }
        } catch (error) {
          this.msg = 'Network exception, please refresh and try again.'
          console.log(error, '-----')
        }
      },
      async getData(code) {
        try {
          let data = {
            totalOf: 0,
            balanceOf: 0,
            allowance: 0,
            logs_user: [],
            totalassets: 0,
            totalprofit: 0,
            name: '',
            cfv: 1,
            vlp: 1,
            feeRatio: '10%',
            ratio: '0'
          }
          this.ratio = await getGoundage(code)
          console.log(this.ratio, 'ratioratioratioratio')
          const feeRatio = await getHarvestFeeRatio(code)
          data.ratio = this.ratio
          data.feeRatio = feeRatio
          console.log(data, 'data')
          if (this.MetaMaskAddress !== '') {

            let vlp = await getCFVVirtualPrice(code)
            let cfv = await getCFVBalanceOf(this.MetaMaskAddress, code)
            data.cfv =
              Number(cfv) === 0 ?
              1 :
              new BigNumber(cfv).dividedBy(1e18).toString(10)
            data.vlp =
              Number(vlp) === 0 ?
              1 :
              new BigNumber(vlp).dividedBy(1e18).toString(10)
            let bcf =
              code === 'ETH' ?
              await getBalance(this.MetaMaskAddress) :
              await getIERCBalanceOf(this.MetaMaskAddress, code)
            const number = contract[code].Decimal
            data.totalOf =
              Number(bcf) === 0 ?
              0 :
              new BigNumber(bcf).dividedBy(number).toString(10)
            data.balanceOf =
              Number(vlp) === 0 ?
              0 :
              (
                new BigNumber(cfv)
                .multipliedBy(new BigNumber(vlp))
                .dividedBy(1e36)
                .toString(10)
              )
            data.name = await getIUSDCName(code)
            this.cfName = await getCFTName(code)
            data.allowance =
              code === 'ETH' ? 0 : Number(await getAllowance(this.MetaMaskAddress, code))
            console.log(data, 'data')
            this.itemData = {
              ...data
            }
            console.log(this.itemData, 'this.itemData')
            this.downLoading()
          } else {
            this.itemData = {
              ...data
            }
            this.downLoading()
          }
        } catch (error) {
          console.log(error, 'err')
          this.downLoading()
        }
      },
      async setShou() {
        try {
          console.log(this.MetaMaskAddress, 'this.MetaMaskAddress')
          this.isLoading()
          let resApprove = await setApprove(
            new BigNumber(1e32).toString(10),
            this.MetaMaskAddress,
            this.code
          )
          if (resApprove.status) {
            this.itemData.allowance = Number(await getAllowance(
              this.MetaMaskAddress,
              this.code
            ))
            this.Success(this.$t(`cff.text17`))
            this.shouquan = false
          }
          this.downLoading()
        } catch (error) {
          console.log(error, 'error')
          this.shouquan = false
          this.Error(error)
          this.downLoading()
        }
      },
      downLoading() {
        if (this.loading) {
          this.loading.close()
        }
        this.loading = null
      },
      async setCoin(item) {
        if (this.MetaMaskAddress !== '') {
          clearInterval(this.timer)
          this.timer = null
          // if (item.code !== 'ETH' && Number(this.itemData.allowance) === 0) {
          //   this.shouquan = true
          //   return
          // }
          const maxAmount =
            this.NetworkId === '3' ? 1e18 : await getMaxAMount(item.code)
          const decimal = contract[item.code].Decimal
          const num = new BigNumber(maxAmount).dividedBy(decimal).toString(10)
          if (Number(this.input1) >= Number(num)) {
            this.Warning(this.$t(`cff.fun1`, {
              code: this.code,
              num: num,
              text: this.code,
            }))
          }
          try {
            let bigInput = new BigNumber(this.input1)
              .multipliedBy(decimal)
              .toFixed(0)
            this.saveMoney(bigInput)
          } catch (error) {
            this.Error(error)
          }
        }
      },
      async saveMoney(bigInput) {
        let params = null
        if (this.code === 'ETH') {
          params = await setDepositETH(this.code)
        } else {
          params = await setDeposit(bigInput, this.code)
        }
        window.web3.eth
          .sendTransaction({
            from: this.MetaMaskAddress,
            to: this.code === 'ETH' ?
              contract[this.code].CFVault : contract[this.code].ERC20DepositApprover,
            value: this.code === 'ETH' ? bigInput : '0',
            data: params,
          })
          .on('transactionHash', async (hash) => {
            this.setMoneyID = hash
            setTimeout(() => {
              // this.Success('交易已发出，请点击查看交易详情浏览交易信息')
              this.$emit('setPendings', {
                id: hash,
                time: new Date().getTime()
              })
              this.value1 = 0
              this.input1 = 0
              this.value2 = 0
              this.input2 = 0
              this.getTimer()
            }, 5000)
          })
      },
      isLoading() {
        this.loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)',
        })
      },
      async getCoin(item) {
        if (this.MetaMaskAddress !== '') {
          clearInterval(this.timer)
          this.timer = null
          let input = new BigNumber(this.input2)
            .dividedBy(new BigNumber(this.itemData.vlp))
            .toString(10)

          if (isNaN(input)) {
            input = 0
          }
          // if (input > Number(this.itemData.balanceOf)) {
          //   this.$message({
          //     message: '余额不足',
          //     type: 'warning',
          //   })
          // }
          // if (Number(input) > 5000000) {
          //   this.$message({
          //     message: `从安全角度考虑，Earning.Farm不允许单笔取超过500万${this.CODE}价值的资产。`,
          //     type: 'warning',
          //   })
          // }
          if (Number(input) > Number(this.itemData.cfv)) {
            input = this.itemData.cfv
          }

          let bigInput = new BigNumber(input).multipliedBy(1e18).toFixed(0)
          let params = null
          if (item.code === 'ETH') {
            params = getWithdrawETH(bigInput, item.code)
          } else {
            params = getWithdraw(bigInput, item.code)
          }
          try {
            window.web3.eth
              .sendTransaction({
                from: this.MetaMaskAddress,
                to: contract[this.code].CFVault,
                value: '0',
                data: params,
              })
              .on('transactionHash', async (hash) => {
                this.getMoneyID = hash
                setTimeout(() => {
                  // this.Success('交易已发出，请点击查看交易详情浏览交易信息')
                  this.$emit('setPendings', {
                    id: hash,
                    time: new Date().getTime()
                  })
                  this.value1 = 0
                  this.input1 = 0
                  this.value2 = 0
                  this.input2 = 0
                  this.getTimer()
                }, 5000)
              })
          } catch (error) {
            console.log(error)
            this.Error(error)
          }
        }
      },
      changeContent(val) {
        this.input1 = 0
        this.input2 = 0
        this.value1 = 0
        this.input1 = 0
        this.setMoneyID = ''
        this.getMoneyID = ''
        this.itemData.ratio = ''
        clearInterval(this.timer)
        this.timer = null
        this.code = val.code
        this.list.map((item) => {
          if (val.code === item.code) {
            item.showContent = !item.showContent
            if (item.showContent) {
              this.isLoading()
              this.getData(item.code)
            }
          } else {
            item.showContent = false
          }
        })
      },
      toPoint(percent) {
        if (percent && percent)
          var str = percent.replace("%", "");
        str = str / 100;
        return str;
      },
      Input2(val) {
        var result = this.toPoint(this.ratio)
        this.value2 = (Number(val) / this.itemData.cfv) * 100
        this.itemData.ratio = val ? this.nameFixed(val * result, this.code) : this.ratio
      },
      Input1(val) {
        this.value1 = (Number(val) / this.itemData.totalOf) * 100
      },
      setInput1(val) {
        const number = contract[this.code].Decimal
        this.input1 = new BigNumber(val)
          .multipliedBy(new BigNumber(this.itemData.totalOf))
          .dividedBy(100)
          .toString(10)
      },
      setInput2(val) {
        var result = this.toPoint(this.ratio)
        this.input2 = this.ToFixed(
          new BigNumber(val)
          .multipliedBy(new BigNumber(this.itemData.balanceOf))
          .dividedBy(100)
          .toString(10)
        )
        this.itemData.ratio = this.nameFixed(this.input2 * result, this.code)
      },
      selectLine(val) {
        this.echartsData = val.profitVary
        this.title = this.$t(`cff.text18`)
        this.tag = 'EchartsLine'
        this.diaWidth = '80%'
        this.dialogVisible = true
      },
      selectTable(val) {
        console.log(val, '==')
        this.tableData = val
        this.title = this.$t(`cff.text19`)
        this.tag = 'CffTable'
        this.diaWidth = '80%'
        // this.fullscreen = true
        this.dialogVisible = true
      },
      closeMain(val) {
        this.title = ''
        this.diaWidth = '40%'
        // this.fullscreen = val
        this.dialogVisible = val
      },
      closeShow(val) {
        this.shouquan = val
      },
      focus(val) {
        this.Max = val
        this.borderColor = val
      },
      nofocus() {
        this.borderColor = 0
      },
      getUSDC(num) {
        this.input2 = this.ToFixed(num)
        let result = this.toPoint(this.ratio)
        this.value2 = (Number(num) / this.itemData.cfv) * 100
        this.itemData.ratio = this.nameFixed(this.input2 * result, this.code)

      },
      setUSDC(num) {
        this.input1 = num
        this.value1 = (Number(num) / this.itemData.totalOf) * 100
      },
    },
    destroyed() {
      clearInterval(this.timer)
      this.timer = null
      clearInterval(this.timer2)
      this.timer2 = null
    },
  }
</script>
<style lang="scss" scoped>
  .h5 {
    display: none;
  }

  .web {
    .msg {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(71, 83, 93);
      font-size: 30px;
    }

    .home {
      height: 100%;
      width: 100%;

      .top {
        height: 35%;
        width: 100%;
        background: rebeccapurple;
      }

      .bom {
        height: 65%;
        width: 100%;
        background: red;
      }

      ul {
        border-radius: 36px;
        border: 1px solid #d1d7de;
        // box-shadow: 0px 0px 10px 1px rgba(25, 118, 210, 0.23);
        padding-inline-start: 0;
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 10px;

        // padding: 10px 0
        li {
          list-style-type: none;
          padding: 5px 0;
        }

        .title {
          padding: 10px 30px;

          .el-row {
            padding: 10px 0;
            display: flex;
            align-items: center;

            // .el-col {
            //   padding: 0 10px;
            // }
            li {
              white-space: normal;
              word-break: break-all;
              word-wrap: break-word;
            }
          }
        }
      }

      ul:hover {
        border-color: #2196f3;
        box-shadow: 0px 0px 8px #1976d23b;
      }

      .title_img {
        width: 20%;
      }

      .title_text {
        display: flex;
        align-items: center;

        span {
          padding-left: 5px;
          font-size: 18px;
          color: rgba(86, 101, 112, 1);
        }
      }

      .top_li {
        font-size: 14px;
        color: rgba(147, 156, 163, 1);
      }

      .top_l3 {
        font-size: 14px;
        height: 25px;
        color: #566570;

        span {
          cursor: help;
        }
      }

      .top_l2 {
        font-size: 14px;
        height: 25px;
        color: #fff;
      }

      .bom_tu {
        // float: right;
        margin-left: 10px;
        color: #2196f3;
        border-bottom: 1px solid;
        font-size: 18px;
        cursor: pointer;
      }

      .bom_li {
        font-size: 18px;
        // height: 10px;
        color: rgba(86, 101, 112, 1);

        .showWbtc {
          float: right;
          font-size: 14px;
          color: #409eff;
          border-bottom: 1px solid #409eff;
          cursor: pointer;
        }
      }

      .bottom {
        padding-left: 30px;
        background: rgba(244, 249, 253, 1);
        border-radius: 0 0 36px 36px;
      }

      .body {
        padding: 30px 0;

        .el-button {
          border-radius: 30px;
        }

        .spanText {
          font-size: 14px;
          color: #939ca3;
        }
      }

      .el-button {
        width: 90%;
        font-size: 14px;
      }

      .body_text {
        .el-row {
          padding: 10px 0;
          display: flex;
          align-items: center;
        }

        .el-button {
          border-radius: 30px;
        }
      }

      .input_span {
        float: right;
        font-size: 14px;
        color: rgba(86, 101, 112, 1);
        cursor: pointer;
        margin-bottom: 5px;
      }

      .Max {
        background-color: rgba(255, 162, 103, 1);
        border-radius: 50px;
        padding: 0 10px;
        color: rgba(255, 255, 255, 1);
      }

      /deep/ .el-input-group__append {
        background-color: rgba(244, 249, 253, 1) !important;
        border: none !important;
        border-radius: 36px;
      }

      /deep/ .el-input__inner {
        border: none !important;
        background-color: rgba(244, 249, 253, 1) !important;
        border-radius: 36px;
      }

      /deep/ .el-slider__button-wrapper {
        z-index: 1;
      }

      .input_li {
        // border: 1px solid rgba(204, 208, 211, 1);
        // border-radius: 36px;
        padding: 0;
        margin: 5px 0;
      }

      .el-input {
        border: 1px solid rgba(204, 208, 211, 1);
        border-radius: 36px;
      }

      // /deep/ .el-input:focus-within {
      //   border: 1px solid rgba(33, 150, 243, 1);
      //   border-radius: 36px;
      // }
      .el-input:hover {
        border: 1px solid rgba(33, 150, 243, 1);
        border-radius: 36px;
      }

      .el-input:active {
        border: 1px solid rgba(33, 150, 243, 1);
        border-radius: 36px;
      }

      /deep/ .el-slider__button {
        width: 10px;
        height: 10px;
      }
    }

    .detail,
    .later {
      font-size: 14px;
      color: rgba(33, 150, 243, 1);
      padding: 0 10px;
      cursor: alias;
    }

    .el-col-10 {
      position: relative;
    }

    .ratio {
      position: absolute;
      bottom: 0px;
      // margin-left: 25%;
      font-size: 14px;
      color: #ffa267;
    }

    .shou {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .el-button {
        width: 160px;
      }
    }

    .el-divider--vertical {
      height: 60px;
    }

    .h5 {
      display: none;
    }

    .el-button {
      border-radius: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .crbtn {
      border-radius: 36px;
      margin-bottom: 10px;
    }

    .web {
      display: none;
    }

    .h5 {
      display: block;

      .home {
        height: 100%;
        width: 100%;

        .top {
          height: 35%;
          width: 100%;
          background: rebeccapurple;
        }

        .bom {
          height: 65%;
          width: 100%;
          background: red;
        }

        ul {
          border-radius: 36px;
          border: 1px solid #d1d7de;
          // box-shadow: 0px 0px 10px 1px rgba(25, 118, 210, 0.23);
          padding-inline-start: 0;
          background-color: rgba(255, 255, 255, 1);
          margin-bottom: 10px;

          // padding: 10px 0
          li {
            list-style-type: none;
            padding: 5px 0;
          }

          .title {
            padding: 10px 30px;

            .el-row {
              padding: 10px 0;
              display: flex;
              align-items: center;

              // .el-col {
              //   padding: 0 10px;
              // }
              li {
                white-space: normal;
                word-break: break-all;
                word-wrap: break-word;
              }
            }
          }
        }

        ul:hover {
          border-color: #2196f3;
          box-shadow: 0px 0px 8px #1976d23b;
        }

        .title_img {
          // width: 20%;
          height: 30px;
        }

        .title_text {
          display: flex;
          align-items: center;

          span {
            padding-left: 5px;
            font-size: 14px;
            color: rgba(86, 101, 112, 1);
          }
        }

        .top_li {
          font-size: 14px;
          color: rgba(147, 156, 163, 1);
        }

        .top_l3 {
          font-size: 14px;
          height: 25px;
          color: #566570;

          span {
            cursor: help;
          }
        }

        .top_l2 {
          font-size: 14px;
          height: 25px;
          color: #fff;
        }

        .bom_tu {
          // float: right;
          margin-left: 10px;
          color: #2196f3;
          border-bottom: 1px solid;
          font-size: 14px;
          cursor: pointer;
        }

        .bom_li {
          font-size: 14px;
          // height: 10px;
          color: rgba(86, 101, 112, 1);

          .showWbtc {
            float: right;
            font-size: 14px;
            color: #409eff;
            border-bottom: 1px solid #409eff;
            cursor: pointer;
          }
        }

        .bottom {
          padding-left: 30px;
          background: rgba(244, 249, 253, 1);
          border-radius: 0 0 36px 36px;
        }

        .body {
          padding-top: 20px;

          .el-row {
            padding-bottom: 10px;
          }

          .spanText {
            font-size: 14px;
            color: #939ca3;
          }

          .bom_tu {
            margin: 0;
            margin-right: 20px;
            font-size: 14px;
          }
        }

        .el-button {
          width: 90%;
          font-size: 14px;
        }

        .body_text {
          .ratio {
            color: #ffa267;
          }

          .btcwbtc {
            text-align: end;
            margin-right: 30px;
            padding-bottom: 10px;
          }

          .maxinput {
            margin-right: 30px;
            padding-bottom: 20px;

            .el-slider {
              width: 95%;
              margin: 0 auto;
            }
          }
        }

        .input_span {
          float: right;
          font-size: 14px;
          color: rgba(86, 101, 112, 1);
          cursor: pointer;
          margin-bottom: 5px;
        }

        .Max {
          background-color: rgba(255, 162, 103, 1);
          border-radius: 50px;
          padding: 0 10px;
          color: rgba(255, 255, 255, 1);
        }

        /deep/ .el-input-group__append {
          background-color: rgba(244, 249, 253, 1) !important;
          border: none !important;
          border-radius: 36px;
        }

        /deep/ .el-input__inner {
          border: none !important;
          background-color: rgba(244, 249, 253, 1) !important;
          border-radius: 36px;
        }

        /deep/ .el-slider__button-wrapper {
          z-index: 1;
        }

        .input_li {
          // border: 1px solid rgba(204, 208, 211, 1);
          // border-radius: 36px;
          padding: 0;
          margin: 5px 0;
        }

        .el-input {
          border: 1px solid rgba(204, 208, 211, 1);
          border-radius: 36px;
        }

        // /deep/ .el-input:focus-within {
        //   border: 1px solid rgba(33, 150, 243, 1);
        //   border-radius: 36px;
        // }
        .el-input:hover {
          border: 1px solid rgba(33, 150, 243, 1);
          border-radius: 36px;
        }

        .el-input:active {
          border: 1px solid rgba(33, 150, 243, 1);
          border-radius: 36px;
        }

        /deep/ .el-slider__button {
          width: 10px;
          height: 10px;
        }
      }

      .shou {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .el-button {
          width: 160px;
        }
      }
    }
  }
</style>