<template>
  <div class="home">
    <div class="btn">
      <el-radio-group v-model="radio" size="medium">
        <el-radio-button label="1">{{$t('table.text1')}}</el-radio-button>
        <el-radio-button label="2">{{$t('table.text2')}}</el-radio-button>
      </el-radio-group>
    </div>

    <el-table :data="tableList" stripe style="width: 100%" height="420" max-height="420" header-align='center'>
      <el-table-column type="expand" width="20" v-if="IsPhone">
        <template slot-scope="scope">
          <el-form label-position="left" inline class="demo-table-expand">
            <el-form-item label="Txn Hash：">
              <span class="tx_span" @click="open(scope.row.txh)">{{ellipsis(scope.row.txh)}}</span>
            </el-form-item>
            <el-form-item :label="$t('table.text8')+'：'">
              <span>{{nameFixed(scope.row.fee,code)}}</span>
            </el-form-item>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column prop="date" :label="$t('table.text3')" :min-width="IsPhone?100:220" align="center">
        <template slot-scope="scope">
          <span>{{dateFormat(scope.row.date)}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="txh" label="Txn Hash" :min-width="IsPhone?0:120" align="center" v-if="!IsPhone">
        <template slot-scope="scope">
          <span class="tx_span" @click="open(scope.row.txh)">{{scope.row.txh}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="amount"
        :label="tabletypeto===1?`${$t('table.text4')} ${IsPhone?'':'（'+code+'）'}`:`${cfName} ${IsPhone?'':$t('table.text5')}`"
        :min-width="IsPhone ? 0:160" align="center">
        <template slot-scope="scope">
          <span>{{nameFixed(scope.row.amount,code)}}</span>
        </template>
      </el-table-column>

      <el-table-column prop="fee" :label="$t('table.text8')" :min-width="IsPhone?0:100" align="center" v-if="!IsPhone">
        <template slot-scope="scope">
          <span>{{nameFixed(scope.row.fee,code)}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="operation" :label="$t('table.text9')" :min-width="IsPhone?60:100" align="center">
        <template slot-scope="scope">
          {{ $i18n.locale==='zh'?scope.row.operation:(scope.row.operation==='存入'||scope.row.operation==='转入')?'Deposit':'Withdraw'}}
        </template>
      </el-table-column>
      <!-- <el-table-column prop="flag" label="状态" width="60">
        <template slot-scope="scope">
          <i
            :class="scope.row.flag==='succes'?'el-icon-circle-check':'el-icon-circle-close'"
            :style="{color:scope.row.flag==='succes'?'#67C23A':'#F56C6C'}"
          ></i>
        </template>
      </el-table-column>-->
    </el-table>
    <el-pagination layout="prev, pager, next" @current-change="handleCurrentChange" :current-page.sync="currentPage"
      :total="tableType.length"></el-pagination>
  </div>
</template>

<script>
  import dayjs from 'dayjs'
  import {
    Tag
  } from '../../config.js'
  import {
    mapState,
  } from 'vuex'
  export default {
    props: {
      tableData: {
        type: Array,
        default: () => {
          return []
        },
      },
      code: {
        type: String,
        default: 'USDC',
      },
      cfName: {
        type: String,
        default: 'CFToken',
      },
    },
    data() {
      return {
        currentPage: 1,
        radio: '1',
        Tags: null,
      }
    },
    computed: {
      ...mapState([
        'IsPhone'
      ]),
      tableType() {
        if (this.radio === '1') {
          return this.tableData.filter(
            (item) =>
            item.operation === '存入' ||
            item.operation === '取出' ||
            item.operation === '手续费'
          )
        } else {
          return this.tableData.filter(
            (item) => item.operation === '转入' || item.operation === '转出'
          )
        }
      },
      tabletypeto() {
        return this.radio === '1' ? 1 : 2
      },
      tableList() {
        if (this.tableType.length < 10) {
          return this.tableType
        } else {
          return this.tableType.slice(
            (this.currentPage - 1) * 10,
            this.currentPage * 11 - 1
          )
        }
      },
    },
    mounted() {
      this.Tags = Tag
    },
    methods: {

      ellipsis(value, one = 0, two = 6) {
        if (!value) return ''
        if (value.length > 10) {
          return value.slice(one, two) + '...' + value.slice(value.length - 4, value.length)
        }
        return value
      },

      nameFixed(val, name) {
        const num = name === 'USDC' ? 2 : name === 'ETH' ? 4 : 8
        return Number(val).toFixed(num)
      },
      dateFormat(val) {
        return this.IsPhone ? dayjs(val * 1000).format('MM-DD HH:mm') : dayjs(val * 1000).format('YYYY-MM-DD  HH:mm:ss')
      },
      open(id) {
        if (this.Tags) {
          window.open(`https://ropsten.etherscan.io/tx/${id}`, '_blank')
        } else {
          window.open(`https://etherscan.io/tx/${id}`, '_blank')
        }
      },
      handleCurrentChange(val) {},
    },
  }
</script>
<style lang="scss" scoped>
  .home {
    height: 100%;
    width: 100%;
    // background: rgba(237, 246, 253, 1);
    // /deep/ .el-table th {
    //   background: rgba(237, 246, 253, 1);
    //   color: rgba(24, 130, 214, 1);
    //   font-weight: 500;
    // }

    img {
      width: 20px;
      margin-right: 10px;
    }

    .btn {
      float: right;
    }

    .tx_span {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /deep/ .el-table tr {
      background: rgba(226, 242, 255, 1);
    }

    /deep/ .el-table--striped .el-table__body tr.el-table__row--striped td {
      background: rgba(245, 249, 252, 1);
    }

    /deep/ .el-table {
      line-height: none;
    }

    /deep/ .el-table .cell {
      // display: flex;
    }

    /deep/ .el-table__empty-text {
      display: none;
    }

    /deep/ .el-pagination {
      float: right;
    }

    /deep/ .el-table__expanded-cell {
      padding: 0px;
    }

    /deep/ .el-form-item {
      margin-bottom: 0px;
    }
  }
</style>